.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapContainer {
  margin-top: 100px;
}

.mapDiv{
  height: 20cm;
  width: 20cm;
  margin-left: 50px;
}

.title{
  margin-left: 20cm;
  margin-top: 0.5cm;
}
.latitudebox{
  margin-left: 20cm;
  margin-top: 0.5cm;
}
.longitudebox{
  margin-left: 20cm;
  margin-top: 0.5cm;
}
.longitudetext{
  margin-left: 20cm;
  margin-top: 0.1cm;
}
.latitudetext{
  margin-left: 20cm;
  margin-top:0.5cm;
}

.buttonzoomout{
  margin-left: 20cm;
  margin-top: 0.5cm;
}
.zoomplay{
  margin-left: 20cm;
  margin-top: 0.1cm;
}
